.imgcarou {
    object-fit: cover;
}

.imagerando {
    gap: 1rem;
}

.image__rando {
    transition: 0.3s;
    box-shadow: 0px 1px 11px 0px rgb(0 0 0);
}

.image__rando:hover {
    transform: scale(1.2);
}

.rando {
    box-shadow: 0px 1px 11px 0px rgb(0 0 0);
    padding: 1rem;
    border-radius: 10px;
}

h1 {
    color: #33a0ff;
    text-shadow: 2px 2px 4px #cccccc;
}

h2 {
    color: #33a0ff;
    text-shadow: 2px 2px 4px #cccccc;
}



@media screen and (max-width: 460px) {
    .photorando {
        width: 330px;
    }

    .image__rando {
            width: 100%;
    }
}